body{
    color:rgb(15, 15, 15);
    background: rgb(238, 162, 238);
    margin: 0px;
}

header{
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(24, 86, 168);
}

section{
    background: rgb(253, 148, 209);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

div{
    margin-right: 20px;
}